* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  color: white;
  text-align: center;
}

body {
  background: linear-gradient(135deg, #6366f1 0%, #8b5cf6 50%);
}

.semua {
  background-color: white;
  width: 375px;
  margin: auto;
  padding: 35px;
  border-radius: 12px;
  box-shadow: 0 0 12px 1px rgba(0, 0, 255, 0.5);
}

.nama {
  display: flex;
  gap: 20px;
}

.nama input {
  width: 150px;
}

form input {
  width: auto;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid #ddd;
}

button {
  padding: 12px;
  border-radius: 12px;
  border: 1px solid #ddd;
  background-color: blue;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.01s;
}

a {
  text-decoration: none;
  color: white;
}
button:hover {
  background-color: rgb(65, 65, 184);
  padding: 12.5px;
}

select {
  width: auto;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid #ddd;
}

div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.main-number {
  display: flex;
  gap: 20px;
}

.main-number input {
  width: 75%;
}

.submit {
  width: 100%;
}

.main-sub {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

table {
  color: white;
  width: 90%;
  margin: auto;
  border: 1px solid white;
  border-collapse: collapse;
  text-align: center;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.301);
  border-radius: 12px;
  overflow: hidden;
}

th {
  background-color: indigo;
  padding: 20px;
  border: none;
}

td {
  padding: 10px;
  background-color: white;
  color: black;
  border: 1px solid indigo;
}
